* {
    box-sizing: border-box;
    font-family: 'rubik', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    border: 1px rgb(0, 0, 0, 0.1) solid;
    width: 350px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(0, 0, 0, 0.1) solid;
    padding: 0 20px;
    height: 50px;
}

.title {
    font-size: 17px;
    font-weight: 500;
    color: #192651;
}

.button {
    border: none;
    border-radius: 4px;
    height: 30px;
    background-color: #000;
    font-weight: 100;
    color: #d2cfcf;
    cursor: pointer;
}

.swiper-section {
    background-color: #f2f2f2;
    padding: 15px 15px 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 17px;
}

.slider {
    width: 318px;
    height: 230px;
    overflow: hidden;
}

.slider__slider-line {
    height: 230px;
    width: 1272px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease .5s;
}

.slider__image {
    width: 318px;
    height: 230px;
}

.swiper {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.swiper__btn {
    border: none;
    background-color: #d8d8d8;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;

}

.swiper__number-of-page {
    color: #192651;
    font-size: 14px;
}

.image-section {

}

.selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    height: 37px;
    border-bottom: 1px rgb(0, 0, 0, 0.1) solid;
}

.selector__item {
    color: #192651;
    opacity: .5;
    font-size: 14px;
    cursor: pointer;
}

.selector__item-active {
    color: #192651;
    opacity: 1;
    cursor: pointer;
    position: relative;
}

.selector__item-active:before {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #192651;
    width: 150%;
    bottom: -10px;
    left: -26%;
}

.image-picker-block {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    padding: 15px;
    justify-content: space-between;
}

.image-picker-block__image {
    width: 150px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
}

.popUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0, .1);

    position: absolute;
    top: 0;
}

.notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    background-color: #fff;
    row-gap: 20px;
    border: 1px solid rgb(0,0,0, .3);
    position: relative;
}

.notification__text {
    font-size: 15px;
    text-align: center;
}

.close {
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}